body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    height: 870px;
}
ul
{
    list-style-type: none;
    background-color: rgb(103, 81, 81);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 13;
    width: 100%;
}
li
{
    float: left;
}
ul li a
{
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
}
a:hover:not(.active)
{
    background-color: black;
}
.active
{
    background-color: red;
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content
{
    display: block;
}
input[type=text]{
    width: 20%;
    padding: 9px 20px;
    margin-top: 7px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 6%;;
    background-color: #4CAF50;
    color: white;
    padding: 9px 13px;
    margin-top: 7px;
    margin-left: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: red;
}